{{extend 'layout.html'}}
{{
add = XML(DIV(A(T('add a zone'), _href=URL(r=request, f='add')), _class='button'))
}}

  <h1>{{=T("Available zones")}} {{=add}}</h1>
  {{if not zo:}}{{=T("No zone available")}}{{pass}}
  <h2>
    {{=T('There are currently: %(nb)s zone(s)',dict(nb=nb))}}
  </h2>
    <ul>
    {{for z in zo:}}

    {{if z.zon_alias:}}
      {{
        heir=T(' - herits from to %(z)s', dict(z=al[z.id]))
      }}
    {{else:}}
      {{
        heir=""
      }}
    {{pass}}

    {{=LI(
        TAG.strong(
          A("%s"%(z.zon_name.upper()), _href=URL(r=request, f="read",
            args=z.id))),
        SPAN(" - "),
        A(T('edit'), _href=URL(r=request, f="edit", args=z.id)),
        SPAN(" - "),
        A(T('delete'), _href=URL(r=request, f="delete", args=z.id)),
        TAG.i(heir),
      )
    }}
    {{pass}}
    </ul>
